@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    font-family: "Noto Sans TC";
    font-weight: 400;
}
body {
    height: 100vh;
    background-image: url("../assets/Creation/background.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    overflow-y: hidden;
}
.textContainer {
    text-align: center;
    padding-top: 7em;
    padding-bottom: 4em;
    margin-bottom: 2em;
}
p {
    color: #7D7D7D;
    font-size: 22px;
    margin: 0;
}
#upText {
    white-space: pre;
    margin-bottom: 10px;
}
#upText:before {
    content: "＿＿    ";
}
#upText:after {
    content: "                                                                                       "
}
#middleText, #bottomText {
    display: inline-block;
}
.options {
    text-align: center;
}
.left, .right {
    text-decoration: none;
}
#left {
    margin-right: 12em;
}
#left, #right {
    width: 250px;
    cursor: pointer;
}
@media screen and (max-width: 820px) {
    #left {
        margin-right: 6em;
    }
}
@media screen and (max-width: 565px) {
    .textContainer {
        padding: 60px 64px 0;
    }
    p {
        font-size: 18px;
        display: inherit;
    }
    #upText:after {
        content: "                  "
    }
    #upText, #middleText {
        margin-bottom: 7px;
    }
    #left {
        margin-right: 0;
        margin-bottom: 15px;
    }
    #left, #right {
        width: 180px;
    }
}
@media screen and (max-width: 320px) {
    .textContainer {
        padding: 40px 32px 0;
    }
    p {
        font-size: 14px;
    }
    #upText, #middleText {
        margin-bottom: 3px;
    }
    #left, #right {
        width: 160px;
    }
}
@media screen and (max-width: 565px) and (max-height: 1200px) and (min-height: 735px) {
    .textContainer {
        padding: 72px 40px 24px;
    }
    p {
        font-size: 20px;
    }
    #left {
        margin-bottom: 30px;
    }
    #left, #right {
        width: 260px;
    }
}
@media screen and (max-width: 459px) and (max-height: 950px) and (min-height: 735px) {
    #left, #right {
        width: 220px;
    }
}
@media screen and (max-width: 420px) and (max-height: 900px) and (min-height: 735px) {
    .textContainer {
        padding: 80px 40px 24px;
    }
    #left, #right {
        width: 200px;
    }
}
@media screen and (max-height: 430px) {
    .textContainer {
        padding: 56px 0;
        margin: 0;
    }
    p {
        font-size: 18px;
    }
    #left {
        margin-right: 8em;
    }
    #left, #right {
        width: 200px;
    }
}
@media screen and (max-height: 420px) {
    .textContainer {
        padding: 56px 0;
        margin: 0;
    }
    p {
        font-size: 18px;
    }
    #left {
        margin-right: 8em;
    }
    #left, #right {
        width: 180px;
    }
}
@media screen and (max-height: 390px) {
    .textContainer {
        padding: 48px 0;
    }
    p {
        font-size: 16px;
    }
    #left {
        margin-right: 5em;
    }
    #left, #right {
        width: 150px;
    }
}
@media screen and (max-height: 350px) {
    .textContainer {
        padding: 32px 0;
    }
    p {
        font-size: 16px;
    }
    #left {
        margin-right: 5em;
    }
    #left, #right {
        width: 140px;
    }
}