@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    font-family: "Noto Sans TC";
    font-weight: 400;
}
body {
    height: 100vh;
    background-image: url("../assets/Space/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-y: hidden;
}
.textContainer {
    text-align: center;
    padding-top: 7em;
    padding-bottom: 4em;
    margin-bottom: 2em;
}
p {
    color: #7D7D7D;
    font-size: 22px;
    margin: 0;
}
#brOne {
    display: none;
}
#upText {
    white-space: pre;
    margin-bottom: 10px;
}
#upText:before {
    content: "＿＿    ";
}
#upText, #middleText {
    display: inline-block;
}
#bottomText {
    white-space: pre;
}
#bottomText:after {
    content: "           "
}
.options {
    text-align: center;
}
.left, .right {
    text-decoration: none;
}
#left {
    margin-right: 12em;
}
#left, #right {
    width: 250px;
    cursor: pointer;
}
@media (max-width: 565px) {
    .textContainer {
        padding: 72px 40px 0;
    }
    p {
        font-size: 18px;
    }
    #brOne {
        display: inherit;
    }
    #brTwo {
        display: none;
    }
    #upText {
        margin: 5px;
    }
    #upText:after {
        content: "                    "
    }
    #middleText, #bottomText {
        display: inline;
    }
    #bottomText {
        white-space: normal;
        line-height: 30px;
    }
    #left {
        margin-right: 0;
        margin-bottom: 15px;
    }
    #left, #right {
        width: 180px;
    }
}