@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    font-family: "Noto Sans TC";
}
#slip {
    height: 100vh;
    background-image: url("../assets/Forest/backgroundGIF.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    /* overflow-y: hidden; */
}
#question {
    height: 100vh;
    background-image: url("../assets/Forest/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* overflow-y: hidden; */
}
.textContainer {
    text-align: center;
    padding-top: 7em;
    padding-bottom: 4em;
    margin-bottom: 2em;
}
p {
    color: #FFFFFF;
    font-size: 24px;
    margin: 0;
}
#upText {
    white-space: pre;
    margin-bottom: 10px;
}
#upText:before {
    content: "＿＿    ";
}
#bottomText {
    white-space: pre;
}
#bottomText:after {
    content: "                     "
}
.options {
    text-align: center;
}
.topLeft, .topRight, .bottomLeft, .bottomRight {
    text-decoration: none;
}
#bottomLeft, #bottomRight {
    margin-top: 2em;
}
#topLeft, #bottomLeft {
    margin-right: 5em;
}
#topLeft, #topRight, #bottomLeft, #bottomRight {
    width: 220px;
    cursor: pointer;
}
@media (max-width: 768px) {
    .textContainer {
        padding: 60px 0 10px 50px;
        margin-bottom: 2em;
    }
    #topLeft, #topRight {
        margin-top: 2em;
    }
    #bottomLeft, #bottomRight {
        margin-top: 2em;
    }
    p {
        font-size: small;
    }
    #topLeft, #topRight, #bottomLeft, #bottomRight {
        width: 250px;
    }
    #topLeft, #bottomLeft {
        margin-right: 0;
    }
}
@media (max-width: 576px) {
    .textContainer {
        padding: 30px 0 10px 50px;
    }
    #topLeft, #topRight, #bottomLeft, #bottomRight {
        width: 200px;
    }
}
@media (max-width: 380px) {
    p {
        font-size: xx-small;
    }
}
@media (max-height: 500px) {
    p {
        font-size: 15px;
    }
    #topLeft, #topRight {
        margin-top: 5px;
    }
    #bottomLeft, #bottomRight {
        margin-top: 30px;
    }
    #topLeft, #topRight, #bottomLeft, #bottomRight {
        width: 200px;
    }
    #topLeft, #bottomLeft {
        margin-right: 50px;
    }
}