#slip {
    height: 100vh;
    background-image: url("../assets/Forest/backgroundGIF.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    /* overflow-y: hidden; */
}
#question {
    height: 100vh;
    background-image: url("../assets/Forest/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* overflow-y: hidden; */
}
.textContainer {
    padding: 60px 0 10px 8em;
    margin-bottom: 2em;
}
#bottomText {
    margin-left: 30px;
}
.text {
    color: #D5D2CF;
    font-size: 20px;
}
.options {
    text-align: center;
}
.topLeft, .topRight, .bottomLeft, .bottomRight {
    text-decoration: none;
}
#topLeft, #topRight {
    margin-top: 5em;
}
#bottomLeft, #bottomRight {
    margin-top: 2em;
}
#topLeft, #bottomLeft {
    margin-right: 5em;
}
#topLeft, #topRight, #bottomLeft, #bottomRight {
    width: 250px;
    cursor: pointer;
}
@media (max-width: 768px) {
    .textContainer {
        padding: 60px 0 10px 50px;
        margin-bottom: 2em;
    }
    #topLeft, #topRight {
        margin-top: 2em;
    }
    #bottomLeft, #bottomRight {
        margin-top: 2em;
    }
    .text {
        font-size: small;
    }
    #topLeft, #topRight, #bottomLeft, #bottomRight {
        width: 250px;
    }
    #topLeft, #bottomLeft {
        margin-right: 0;
    }
}
@media (max-width: 576px) {
    .textContainer {
        padding: 30px 0 10px 50px;
    }
    #topLeft, #topRight, #bottomLeft, #bottomRight {
        width: 200px;
    }
}
@media (max-width: 380px) {
    .text {
        font-size: xx-small;
    }
}
@media (max-height: 500px) {
    .text {
        font-size: 15px;
    }
    #topLeft, #topRight {
        margin-top: 5px;
    }
    #bottomLeft, #bottomRight {
        margin-top: 30px;
    }
    #topLeft, #topRight, #bottomLeft, #bottomRight {
        width: 200px;
    }
    #topLeft, #bottomLeft {
        margin-right: 50px;
    }
}