@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    font-family: "Noto Sans TC";
}
body {
    height: 100vh;
    background-image: url("../assets/Factory/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* overflow-y: hidden; */
}
.textContainer {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7em;
    padding-bottom: 6em;
    margin-bottom: 2em;
}
.wrapper {
    text-align: center;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 100%);}
p {
    color: #FFFFFF;
    font-size: 24px;
    margin: 20px;
}
#upText {
    white-space: pre;
    margin-bottom: 10px;
}
#upText:before {
    content: "＿＿    ";
}
.options {
    text-align: center;
}
.left, .right {
    text-decoration: none;
}
#left {
    margin-right: 5em;
}
#left, #right {
    width: 250px;
    cursor: pointer;
}
@media (max-width: 768px) {
    .textContainer {
        padding: 60px 0 10px 50px;
        margin-bottom: 7em;
    }
    p {
        font-size: small;
    }
    #left, #right {
        width: 250px;
    }
    #left {
        margin-right: 0;
        margin-bottom: 5em;
    }
}
@media (max-width: 576px) {
    .textContainer {
        padding: 30px 0 10px 50px;
    }
    #left, #right {
        width: 200px;
    }
}
@media (max-width: 380px) {
    p {
        font-size: xx-small;
    }
}
@media (max-height: 500px) {
    .textContainer {
        margin-bottom: 2em;
    }
    p {
        font-size: 15px;
    }
    #left, #right {
        width: 200px;
    }
    #left {
        margin-right: 50px;
        margin-bottom: 0;
    }
}