@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    font-family: "Noto Sans TC";
}
body {
    height: 100vh;
    background-image: url("../assets/SoundFour/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* overflow-y: hidden; */
}
.textContainer {
    text-align: center;
    padding-top: 7em;
    padding-bottom: 4em;
    margin-bottom: 1em;
}
p {
    color: #7D7D7D;
    font-size: 24px;
    margin: 0;
}
#upText {
    white-space: pre;
    margin-bottom: 10px;
}
#upText:before {
    content: "＿＿    ";
}
#bottomText {
    white-space: pre;
}
#bottomText:after {
    content: "     "
}
.options {
    text-align: center;
    margin-top: 3em;
}
.left, .right {
    text-decoration: none;
}
#left {
    margin-right: 8em;
}
#left, #right {
    width: 300px;
    cursor: pointer;
}
@media (max-width: 768px) {
    .textContainer {
        padding: 60px 0 10px 50px;
    }
    p {
        font-size: small;
    }
    #left, #right {
        width: 250px;
    }
    #left {
        margin: 0 0 20px 0;
    }
}
@media (max-width: 576px) {
    .textContainer {
        padding: 30px 0 10px 50px;
    }
    #left, #right {
        width: 200px;
    }
}
@media (max-width: 380px) {
    p {
        font-size: xx-small;
    }
}
@media (max-height: 500px) {
    .textContainer {
        padding: 60px 0 0px 3em;
    }
    p {
        font-size: 15px;
    }
    #left, #right {
        width: 200px;
    }
    #left {
        margin-right: 50px;
        margin-bottom: 0;
    }
}