body {
    overflow-y: hidden;
    cursor: pointer;
}
.object {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCFEFF;
}
.text {
    text-align: center;
}
p {
    margin: 2px;
    font-size: 25px;
    color: transparent;
    animation: blur 10s ease-out alternate;
	-webkit-animation: blur 10s ease-out alternate;
    animation-fill-mode: forwards;
}
@media (max-width: 576px) {
    p {
        font-size: 20px;
    }
}
@keyframes blur {
	0%      {text-shadow: 0 0 100px #434343; opacity: 0;}
	10%	    {text-shadow: 0 0 90px #434343;}
	20%	    {opacity: 1;}
	30%	    {text-shadow: 0 0 0px #434343;}
	75%	    {text-shadow: 0 0 0px #434343;}
	80%	    {opacity: 1;}
	90%	    {text-shadow: 0 0 0px #434343;}
	100%    {text-shadow: 0 0 0px #434343; opacity: 1;}
}
@-webkit-keyframes blur {
	0%		{text-shadow: 0 0 100px #434343; opacity: 0;}
	10%		{text-shadow: 0 0 90px #434343;}
	20%		{opacity: 1;}
	30%		{text-shadow: 0 0 0px #434343;}
	75%		{text-shadow: 0 0 0px #434343;}
	80%		{opacity: 1;}
	90%		{text-shadow: 0 0 0px #434343;}
	100%	{text-shadow: 0 0 0px #434343; opacity: 1;}
}