body {
    height: 100vh;
    background-image: url("../assets/Environment/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* overflow-y: hidden; */
}