.object {
    height: 100vh;
    background-image: url("../assets/Slip/background.gif");
    background-position: center;
    background-size: cover;
    overflow-y: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text {
    text-align: center;
}
p {
    font-size: 24px;
    margin: 3px;
    white-space: pre;
    color: transparent;
    animation: blur 8s ease-out alternate;
	-webkit-animation: blur 8s ease-out alternate;
    animation-fill-mode: forwards;
}
.upText {
    display: inline-block;
}
#upText:before {
    content: "＿＿    "
}
.bottomText:after {
    content: "                                                      ";
}
@media screen and (max-width: 900px) {
    p {
        font-size: 18px;
    }
}
@media screen and (max-width: 750px) {
    p {
        font-size: 20px;
        white-space: normal;
    }
    .upText {
        display: inherit;
    }
    #upText:before {
        content: "";
    }
}
@media screen and (max-width: 500px) {
    p {
        font-size: 18px;
        white-space: normal;
    }
    .upText {
        display: inherit;
    }
    #upText:before {
        content: "";
    }
}


@keyframes blur {
	0%      {text-shadow: 0 0 100px #7D7D7D; opacity: 0;}
	10%	    {text-shadow: 0 0 90px #7D7D7D;}
	20%	    {opacity: 1;}
	30%	    {text-shadow: 0 0 0px #7D7D7D;}
	75%	    {text-shadow: 0 0 0px #7D7D7D;}
	80%	    {opacity: 1;}
	90%	    {text-shadow: 0 0 0px #7D7D7D;}
	100%    {text-shadow: 0 0 0px #7D7D7D; opacity: 1;}
}
@-webkit-keyframes blur {
	0%		{text-shadow: 0 0 100px #7D7D7D; opacity: 0;}
	10%		{text-shadow: 0 0 90px #7D7D7D;}
	20%		{opacity: 1;}
	30%		{text-shadow: 0 0 0px #7D7D7D;}
	75%		{text-shadow: 0 0 0px #7D7D7D;}
	80%		{opacity: 1;}
	90%		{text-shadow: 0 0 0px #7D7D7D;}
	100%	{text-shadow: 0 0 0px #7D7D7D; opacity: 1;}
}