@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    font-family: "Noto Sans TC";
}
body {
    height: 100vh;
    background-image: url("../assets/Start/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* overflow-y: hidden; */
}
#plancovary {
    width: 250px;
}
.welcome {
    justify-content: center;
    align-items: center;
    text-align: center;
}
p {
    font-size: 24px;
    color: #7D7D7D;
    display: inline-block;
}
#start {
    width: 300px;
    cursor: pointer;
}
@media screen and (max-width: 900px) {
    #plancovary {
        width: 180px;
    }
    #start {
        width: 200px;
    }
    p {
        font-size: 20px;
    }
}
@media screen and (max-width: 700px) {
    #plancovary {
        width: 150px;
    }
    #start {
        width: 180px;
    }
    p {
        font-size: 20px;
    }
}
@media screen and (max-width: 576px) {
    .plancovary {
        text-align: center;
        padding: 5em 0 0 0;
    }
    #plancovary {
        width: 200px;
    }
}
@media screen and (max-height: 900px) {
    #upText {
        margin-top: 5em;
    }
    #start {
        padding-top: 7em;
    }
}
@media screen and (max-height: 700px) {
    #upText {
        margin-top: 3em;
    }
    #start {
        padding-top: 2em;
    }
}