body {
    background-color: #080404;
    overflow-y: hidden;
    cursor: pointer;
}
.wrapper {
    height: 100vh;
    background-image: url("../assets/Widsom/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
@media screen and (max-width: 820px) {
    .wrapper {
        background-image: url("../assets/Widsom/backgroundMobile.jpg");
    }
}
@media screen and (max-height: 500px) {
    .wrapper {
        background-image: url("../assets/Widsom/background.jpg");
    }
}